RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)/$ $1.html 

# Forces a trailing slash to be added
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]

Redirect /index http://ffhmt.com

ErrorDocument 404 /NotValid.html
ErrorDocument 403 /NotValid.html
ErrorDocument 401 /NotValid.html
ErrorDocument 500 /NotValid.html
<Files 403.shtml>
order allow,deny
allow from all
</Files>



RewriteEngine On
AuthName "Restricted Area" 
AuthType Basic 
AuthUserFile /home/inter276/public_html/ffhmt.com/2019/.htpasswd 
AuthGroupFile /dev/null 
require valid-user