<div id="main-slider" class="liquid-slider">
    <div>
      <h2 class="title">1</h2>
      <p class="bold">FFHMT 2017:</p>
      <p class="body">FFHMT 2017 will  be held in Toronto, Canada on August 21 - 23, 2017.</p>

     <!--  <p class="bold">FFHMT'17 Workshop</p>
      <p class="body">As per popular request, the organizing committee has decided to extend the FFHMT'17 conference to three days (now August 21 - 23, 2017). The new high-level schedule is as follows:</p>

      <ul>
        <li>Day 1: Workshop(s) and Registration</li>
        <li>Day 2: Main Track Conference Sessions</li>
        <li>Day 3: Main Track Conference Sessions and Gala dinner or Cruise tour</li>
      </ul>
      
      <p class="body">Registration for the workshop will be 113 CAD (HST included) and separate from the main conferences. Workshop attendees will receive a certificate of participation. For registration, please visit: <a href="../registration" class="body-link">here</a>.</p>

      <p class="body">More information to follow; we greatly appreciate your patience!</p> -->
    </div>          
    <div>
      <h2 class="title">2</h2>
      <p class="bold">Best Paper Award:</p>
      <p class="body">Two best paper awards will be conferred to author(s) of the papers that receive the highest rank during the peer-review and by the respected session chairs. Please visit <a href="../papers" class="body-link">Paper Submission</a> for more information.</p>
    </div>
    <div>
      <h2 class="title">3</h2>
      <p class="bold">Become a Sponsor or an Exhibitor</p>
      <p class="body">FFHMT attracts a wide range of researchers in the field of fluid flow, heat and mass transfer. As a prominent company in the field of fluid flow, heat and mass transfer, we would like to offer you an exhibit at FFHMT. Please visit <a href="../sponsor" class="body-link">Sponsors</a> for more information.</p>
    </div>
  </div>