<div id="main-slider" class="liquid-slider">
    <div>
      <h2 class="title">1</h2>
      <p class="bold">FFHMT 2016:</p>
      <p class="body">FFHMT 2016 will  be held in Ottawa, Canada on May 2016.</p>
    </div>          
    <div>
      <h2 class="title">2</h2>
      <p class="bold">Best Paper Award:</p>
      <p class="body">Two best paper awards will be conferred to author(s) of the papers that receive the highest rank during the peer-review and by the respected session chairs. Please visit <a href="" class="body-link">Paper Submission</a> for more information.</p>
    </div>

  </div>