<p class="body">The organizing committees of two co-located events, FFHMT'18 and <a class="body-link" target="_blank" href="https://ehstconference.com/">EHST'18</a>, have decided to allow registrants of either conference to attend sessions from both events. As a result, we encourage attendees to study the program for both conferences and attend the sessions which they may find relevant/interesting.

For more information about the conferences, please view the <a class="body-link" target="_blank" href="/FFHMT18_EHST18_CFP.pdf">Conference Flyer</a>.</p>
<br>