<form action="../contactus.php" method="post" enctype="multipart/form-data" name="ContactForm" class="cf">
  
  <div class="half left cf">
    <input style="margin-bottom:0.85em" type="text" name="Name" id="Name" placeholder="Name" required>
    <input style="margin-bottom:0.85em" type="email" name="Email" id="Email" placeholder="Email address" required>
    <input type="text" name="Subject" id="Subject" placeholder="Subject" required>
  </div>
  
  <div class="half right cf">
    <textarea name="Message" type="text" rows="5" name="Message" id="Message" placeholder="Message" required></textarea>
  </div>  
  
  <center class="full right cf"><div class="g-recaptcha" data-sitekey="6Lfd6fsSAAAAAKYX8CT8c-7l8f9w8Jj0kE9TL4SB"></div></center>
  
  <div class="cf">
    <input type="submit" name="Submit" value="Submit">
    <input type="reset" name="Reset" value="Reset">
  </div></div>

</form>