<div class="cbp-af-header">
	<div class="cbp-af-inner">
		<a href="{{site.baseurl}}/"><img src="img/ffhmt.png" class="flex-logo"></a>
			<nav>
				<a href="committee">Committee</a><p class="dot">&middot;</p><a href="keynote.html">Keynotes</a><p class="dot">&middot;</p><a href="papers.html">Paper Submission</a><p class="dot">&middot;</p><a href="program.html">Program</a><p class="dot">&middot;</p><a href="dates.html">Important Dates</a><p class="dot">&middot;</p><a href="registration.html">Registration</a><p class="dot">&middot;</p><a href="sponsor.html">Sponsors</a><p class="dot">&middot;</p><a href="venue.html">Venue</a><p class="dot">&middot;</p><a href="accommodation.html">Accommodation</a><p class="dot">&middot;</p><a href="contact.html">Contact Us</a>
		</nav>
	</div>
</div>