<div class="cbp-af-header">
	<div class="cbp-af-inner">
		<a href="{{site.baseurl}}/"><img src="img/ffhmt.png" class="flex-logo"></a>
			<nav>
				<ul>
					<li><a href="committee.html">Committee</a></li><p class="dot">&middot;</p>
					<li><a href="keynote.html">Keynotes</a></li><p class="dot">&middot;</p>
					<li><a href="papers.html">Paper Submission</a></li><p class="dot">&middot;</p>
					<li><a href="program.html">Program</a></li><p class="dot">&middot;</p>
					<li><a href="dates.html">Important Dates</a></li><p class="dot">&middot;</p>
					<li><a href="registration.html">Registration</a></li><p class="dot">&middot;</p>
					<li><a href="sponsors.html">Sponsors</a></li><p class="dot">&middot;</p>
						<ul>
      <li><a href="#">Sub Menu 1</a></li>
      <li><a href="#">Sub Menu 2</a></li>
      <li><a href="#">Sub Menu 3</a></li>
    </ul></li>
					<li><a href="venue.html">Venue</a></li><p class="dot">&middot;</p>
					<li><a href="accommodation.html">Accommodation</a></li><p class="dot">&middot;</p>
					<li><a href="contact.html">Contact Us</a></li>
		</nav>
	</div>
</div>