<footer id="contact">
	<div class="grid">
	<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
	<div class="unit-spacer">
		<h2>Contact Us</h2>
		<p class="body">International ASET Inc.<br>
		Unit No. 104, 2442 St. Joseph Blvd.<br>
	    Orl&eacute;ans, Ontario, Canada<br>
	    Postal Code: K1C 1G1<br>
	    +1-613-834-9999<br>
		<a href="mailto:info@ffhmt.com">info@ffhmt.com</a></p>
		</div>
	</div>

	<div class="unit unit-s-1 unit-m-2-3 unit-l-2-3 contact">
	<div class="unit-spacer">
	<p class="body">For questions or comments regarding FFHMT'19, please fill out the form below:</p>

    {% include contact-form.html %}
    </div>
	</div>
	</div>
</footer> 

<div class="copyright">
	<a href="http://international-aset.com">International ASET Inc.</a> | <a href="http://international-aset.com/phplistpublic/?p=subscribe&id=1">Subscribe</a> | <a href="../terms">Terms of Use</a> | <a href="../sitemap">Sitemap</a>
	<p class="body">© Copyright <script>document.write(new Date().getFullYear())</script>, International ASET Inc. – All Rights Reserved.</p>
	<p class="copyright1">Have any feedback? Please provide them here: <script>var refURL = window.location.protocol + "//" + window.location.host + window.location.pathname; document.write('<a href="http://international-aset.com/feedback/?refURL=' + refURL+'" class="body-link">Feedback</a>');</script></p>
</div>