<div>
	
        <div class="unit unit-s-1-1 unit-m-1-2 unit-l-1-2 ">
          <a href="https://www.crossref.org/" target="_blank"><img src="/img/Crossref_logo.png"  alt="Crossref" class="flex-img" style="max-width:150px;"/></a>
        </div>
        <div class="unit unit-s-1-1 unit-m-1-2 unit-l-1-2 ">
          <a href="https://www.scopus.com/" target="_blank"><img src="/img/Scopus_logo.png"  alt="Scopus" class="flex-img" style="max-width:130px;"/></a>
        </div>
        <br>
        <div class="unit unit-s-1-1 unit-m-1-2 unit-l-1-2 ">
          <a href="https://scholar.google.com/" target="_blank"><img src="/img/GoogleSchoolar_logo.png"  alt="Google Scholar" class="flex-img" style="max-width:150px;"/></a>
        </div>   
        <div class="unit unit-s-1-1 unit-m-1-2 unit-l-1-2 ">
          <a href="https://www.portico.org/" target="_blank"><img src="/img/portico_logo.png" alt="Portico"  class="flex-img" style="max-width:120px;"/></a>
        </div>
         
        <br>
</div>