<h3>Upcoming Dates</h3>

<div class="grid events">
<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
	<div class="date">
		May 29, 2015
	</div>
</div>

<div class="unit unit-s-1 unit-m-3-4 unit-l-3-4">
	<div class="unit-spacer">
		Extended Paper Submission Deadline
	</div>
</div>
</div>

<div class="grid events">
<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
	<div class="date">
		May 29, 2015
	</div>
</div>

<div class="unit unit-s-1 unit-m-3-4 unit-l-3-4">
	<div class="unit-spacer">
		Extended Paper Submission Deadline
	</div>
</div>
</div>