-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?uz62ew');
	src:url('../fonts/icomoon.eot?#iefixuz62ew') format('embedded-opentype'),
		url('../fonts/icomoon.woff?uz62ew') format('woff'),
		url('../fonts/icomoon.ttf?uz62ew') format('truetype'),
		url('../fonts/icomoon.svg?uz62ew#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
  font: normal 100%/1.4 'Merriweather' sans-serif;
  background-color: #FFF;
}

body {
  margin: 0 auto;
  padding: 0;
}

.flex-logo {
	width: 100%;
	vertical-align: text-bottom;
	max-width: 139px;
	padding: 1em;
	float: left;
}

.mobile {
	display: block;
}

.desktop {
	display: none;
}

/* BASE STYLES */
.flex-img {
	display: block;
	width: 100%;
}


h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
  color: #576BB1;
  text-transform: uppercase;
  line-height: initial;
  letter-spacing: 0.5px;
  border-bottom: 2px solid;
  padding-bottom: 0.1em;
  margin-bottom: 1em;
}

h3 {
font-family: 'Lato', sans-serif;
text-transform: uppercase;
font-size: 2.2em;
margin: 0;
color: #6FA816;
letter-spacing: 2px;
}

.body {
font-family: 'Merriweather', serif;
font-weight: 300;
font-size: 1em;
margin: 0;
padding-bottom: 1em;
text-align: justify;
}

.body:last-child {
padding-bottom: 0;
}

.bold {
font-family: 'Merriweather', serif;
font-weight: 600;
font-size: 1em;
margin: 0;
}

.body-link {
color: #576BB1;
text-decoration: none;
transition: all 0.8s linear;
}

.body-link:hover {
color: #EA573A;
}

.indent {
	padding-left: 2em;
}

.content {
	padding: 1em 2em 0!important;
}

/* HEADER & NAVIGATION */
h1 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	padding: 1em 0.5em 0;
	font-size: 1.8em!important;
	margin: 0!important;
	color: #FFF;
}

.subhead {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 1em 3em;
  font-size: 1em!important;
  margin: 0;
  color: #EA573A;
  letter-spacing: 7px;
}

.bg-link {
	border: 1px solid #FFF;
	padding: 0.5em;
	color: #FFF;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.5em;
	transition: all 0.8s ease;
}

.bg-link:hover {
	background-color: #576BB1;
	border: 1px solid #576BB1;
}

.dot {
	display: inline-block;
	color: #EA573A;
	font-size: 2em;
	vertical-align: middle;
	margin: 0;
	padding: 0 1em;
}

/* SEARCH BAR */
form.gsc-search-box {
line-height: 0;
}

#___gcse_0 {
}

.searchbox {
padding: 43px 0 0;
}

.searchbox .body {
  color: #FFF;
  text-align: right;
  padding: 3px 0;
}

.search .body {
color: #FFF;
padding: 1em;
margin-top: 0.5em;
height: 26px;
font-size: 0.8em;
text-align: right;
}

input#gsc-i-id1, input#gsc-i-id2 {
background: none!important;
}

.cse .gsc-control-cse, .gsc-control-cse {
padding: 0 1em!important;
width: auto;
border: 0!important;
}

.gsc-control-cse {
font-family: 'Roboto Condensed', sans-serif!important;
background-color: transparent!important;
}

form.gsc-search-box {
font-size: 13px;
margin-top: 0;
margin-right: 0;
margin-bottom: 0!important;
margin-left: 0;
width: 100%;
padding: 0;
}

table.gsc-search-box {
border-style: none;
border-width: 0;
border-spacing: 0 0;
width: 100%;
margin-bottom: 0px!important;
}

.gsst_a .gscb_a {
color: #576BB1!important;
cursor: pointer;
}

.gsst_a {
padding: 0!important;
box-shadow: none!important;
font-size: 0em!important;
}

.gsst_a:hover {
background-color: transparent!important;
}

.gsib_b {
margin-top: 4px;
display: block;
}

.cse input.gsc-search-button, input.gsc-search-button {
font-family: inherit;
font-size: 11px;
font-weight: bold;
color: #fff;
padding: 0 8px;
height: 29px;
min-width: 54px;
border: none!important;
border-radius: 0!important;
-moz-border-radius: 0!important;
-webkit-border-radius: 0!important;
border-color: none!important;
background-color: #EA573A!important;
background-image: none!important;
filter: none!important;
}

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
  width: 68px!important;
  height: 27px!important;
    margin-top: 0px!important;
}

/* RESULTS */
.results {
padding: 1em;
}

.results #___gcse_0 {
background: transparent;
padding: 0;
}

.gsc-orderby-container {
display: none;
}

table.gsc-branding, table.gcsc-branding {
display: none;
}

/*UPCOMING DATES*/
.date {
	background-color: #EA573A;
  padding: 0.5em;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

.past {
	text-decoration: line-through;
}

.past-text {
	color: #EA573A;
}

.events {
	padding-bottom: 1em;
}

.events:last-child {
padding-bottom: 0;
}

/* ---------------- ---------------------- */

/* FOOTER */
footer {
	text-align: center;
}

/* 533 PX */
@media only screen and (min-width: 33em) {
	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}

	header {
		position: inherit;
		width: 100%;
		padding: 131px 0 0;
	}

	.bg-img {
		position: absolute;
	}

	.bg {
		background-color: rgba(0,0,0,0.65);
		position: relative;
		text-align: center;
		padding: 111px 0;
	}

	.cbp-af-inner nav .dot {
		font-size: 0.5em;
	}

	.cbp-af-inner nav .dot {
  		font-size: 1.2em;
  		color: #EA573A;
  		padding: 0 0.5em;
	}
}
